<link rel="icon" type="image/png" href="{{- '/assets/images/favicon/favicon-96x96--white.png' | relative_url -}}" sizes="96x96" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/svg+xml" href="{{- '/assets/images/favicon/favicon--white.svg' | relative_url -}}" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" href="{{- '/assets/images/favicon/favicon-96x96.png' | relative_url -}}" sizes="96x96" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/svg+xml" href="{{- '/assets/images/favicon/favicon.svg' | relative_url -}}" media="(prefers-color-scheme: light)">
<link rel="shortcut icon" href="{{- '/favicon.ico' | relative_url -}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{- '/assets/images/favicon/apple-touch-icon.png' | relative_url -}}">
<meta name="apple-mobile-web-app-title" content="SecarioLabs">
<link rel="manifest" href="{{- '/site.webmanifest' | relative_url -}}">