<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-1a1a1a-ffffff-1">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.10196078431373 1"></feFuncR>
        <feFuncG type="table" tableValues="0.10196078431373 1"></feFuncG>
        <feFuncB type="table" tableValues="0.10196078431373 1"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-1a1a1a-c93b3b-4">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.10196078431373 0.78823529411765"></feFuncR>
        <feFuncG type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncG>
        <feFuncB type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-000000-ffffff-5">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 1"></feFuncR>
        <feFuncG type="table" tableValues="0 1"></feFuncG>
        <feFuncB type="table" tableValues="0 1"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-c93b3b-ffffff-7">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.78823529411765 1"></feFuncR>
        <feFuncG type="table" tableValues="0.23137254901961 1"></feFuncG>
        <feFuncB type="table" tableValues="0.23137254901961 1"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-1a1a1a-c93b3b-1">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.10196078431373 0.78823529411765"></feFuncR>
        <feFuncG type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncG>
        <feFuncB type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-1a1a1a-c93b3b-2">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.10196078431373 0.78823529411765"></feFuncR>
        <feFuncG type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncG>
        <feFuncB type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="duotone-1a1a1a-c93b3b-3">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.10196078431373 0.78823529411765"></feFuncR>
        <feFuncG type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncG>
        <feFuncB type="table" tableValues="0.10196078431373 0.23137254901961"></feFuncB>
        <feFuncA type="table" tableValues="1 1"></feFuncA>
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in"></feComposite>
    </filter>
  </defs>
</svg>