@use "vars" as *;
@use "sass:color";

.input {
  &__text,
  &__select {
    box-sizing: border-box;
    border: none;
    z-index: 0;

    &--xl {
      padding: 1rem 0.75rem;
    }

    &--bordered {
      border: 2px solid color.adjust($dark, $lightness: 50%);
    }
  }

  &__select-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      z-index: -1;
      position: absolute;
      right: 0.25rem;
      width: 30px;
      height: 30px;
      color: color.adjust($dark, $lightness: 50%);
      stroke-width: 1.5;
      cursor: pointer;
    }
  }

  &__select {
    background: none;
    border: 2px solid color.adjust($dark, $lightness: 50%);
    cursor: pointer;
    appearance: none;
    padding-right: 2rem;
  }
}
