@use "vars" as *;

.section {
  padding: 8rem 0;

  &--dark {
    background-color: $dark;
    color: $light;
  }

  &__header {
    margin-bottom: 5rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(smaller) {
      margin-bottom: 3rem;
    }
  }

  &__superheading {
    text-align: center;
    color: $secondary;
    margin-bottom: 1rem;
  }

  &__heading {
    text-align: center;
  }

  @include breakpoint(medium) {
    padding: 5rem 0;
  }

  &--page {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include breakpoint(medium) {
      padding-top: 2rem;
    }
  }

  &--gray {
    background-color: $gray;
  }

  &--post {
    padding-top: 2rem;
  }
}
