{%- assign related_posts = '' | split: '' -%}

{%- for page_tag in page.tags -%}
    {%- for post in site.tags[page_tag] -%}
        {%- unless post.id == page.id -%}
            {%- assign related_posts = related_posts | push: post -%}
        {%- endunless -%}
    {%- endfor -%}
{%- endfor -%}

{%- assign related_posts = related_posts | uniq -%}

{%- if related_posts.size > 0 -%}
    {%- include partials/related-posts.html -%}
{%- else -%}
    {%- include partials/posts-nav.html -%}
{%- endif -%}