{%- if page.next or page.previous -%}
    <div class="post__nav-wrapper">
        <h3 class="post__nav-heading">More articles</h3>

        <div class="post__nav">
            {%- if page.previous -%}
                <a class="post__nav-item post__nav-item--prev" href="{{- page.previous.url | relative_url -}}">
                    {{- page.previous.title -}}
                </a>
            {%- endif -%}

            {%- if page.next -%}
                <a class="post__nav-item post__nav-item--next" href="{{- page.next.url | relative_url -}}">
                    {{- page.next.title -}}
                </a>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}