---
layout: page
---
<section class="section section--page">
    <div class="container">
    
        <h2 class="about__desc text-2xl">
            {{ page.description }}
        </h2>

        <div class="about__text cols cols--2">
            {% for item in page.text %}
                <div class="about__text-item">
                    {{ item.piece | markdownify }}
                </div>
            {% endfor %}
        </div>

        <ul class="about__features cols cols--3">
            {% for item in page.features %}
                <li class="about__feature text-xl">
                    <img src="{{- item.icon | relative_uirl -}}" alt="">
                    <div class="about__feature-text">
                        {{- item.text -}}
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
</section>

{%- if page.show_services == true -%}
    {%- include partials/services.html -%}
{%- endif -%}

<section class="section section--page">
    <div class="container container--sm">

        {%- if page.badges.heading.size > 0 -%}
            <h2 class="section__heading">
                {{- page.badges.heading -}}
            </h2>
        {%- endif -%}

        {%- if page.badges.text.size > 0 -%}
            <div class="about__badges-text">
                {{ page.badges.text | markdownify }}
            </div>
        {%- endif -%}
    
        <div class="about__badges">
            {% for item in page.badges.items %}
                {%- if item.url.size > 0 -%}
                    <a class="about__badge-item" href="{{- item.url -}}" target="_blank">
                        <img class="about__badge-img" src="{{- item.path | relative_url -}}" alt="{{- item.alt_text -}}" loading="lazy"{% if item.width.size > 0 and item.height.size > 0 %} width="{{- item.width -}}" height="{{- item.height -}}"{% endif %}>
                    </a>
                {%- else -%}                
                    <span class="about__badge-item">
                        <img class="about__badge-img" src="{{- item.path | relative_url -}}" alt="{{- item.alt_text -}}" loading="lazy"{% if item.width.size > 0 and item.height.size > 0 %} width="{{- item.width -}}" height="{{- item.height -}}"{% endif %}>
                    </span>
                {%- endif -%}
            {% endfor %}
        </div>

    </div>
</section>

{%- if page.show_callout == true -%}
    {%- include partials/callout.html -%}
{%- endif -%}
