---
layout: page
---
<section class="section section--page">
    <div class="container">

        {%- if page.description.size > 0 -%}
            <div class="blog__desc text-xl text-center">
                {{ page.description | markdownify }}
            </div>
        {%- endif -%}

        <div class="blog__teasers cols cols--2">        
            {% for post in paginator.posts %}
                <div class="blog__teaser">

                    <div class="blog__teaser-header">
                        <h2 class="blog__teaser-heading">
                            <a href="{{ post.url | relative_url }}">
                                {{ post.title }}
                            </a>
                        </h2>

                        {%- include partials/post-meta.html -%}
                        <div class="blog__teaser-summary text-lg">
                            {{ post.excerpt | truncatewords: 50, ' […]' }}
                        </div>
                    </div>

                    <div class="blog__teaser-link-wrapper">
                        <a href="{{- post.url | relative_url -}}" class="blog__teaser-link btn btn--light btn--md btn--thin btn--bordered">
                            Read More
                        </a>
                    </div>
                
                </div>
            {% endfor %}
        </div>

        {%- include partials/pagination.html -%}

    </div>
</section>

{%- if page.show_callout == true -%}
    {%- include partials/callout.html -%}
{%- endif -%}