---
layout: default
---

{%- comment -%} Hero {%- endcomment -%}
<section class="hero hero--page hero--post" {% if page.bg_image.size>
  0 %} style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.7) 100%), url({{- page.bg_image | relative_url -}});" {% endif
  %}>

  <div class="container container--sm">
    <h1 class="hero__heading hero__heading--page hero__heading--post">
      {{- page.title -}}
    </h1>

    {%- include partials/post-meta.html is_post=true -%}
  </div>
</section>
{%- comment -%} End Hero {%- endcomment -%}

<section class="post-wrapper">
  <section class="section section--page section--post">
    <div class="container container--sm">

      <article class="post">{{content}}</article>

      {%- include partials/share-links.html -%}

      {%- include partials/more-articles.html -%}

    </div>
  </section>
</section>

{%- include partials/lightbox.html -%}
