<section class="section research">
    <div class="container">

        <div class="cols research__cols">
            <div class="research__col research__col--left">
                {%- if page.research.superheading.size > 0 -%}
                    <h3 class="section__superheading research__superheading">
                        {{- page.research.superheading -}}
                    </h3>
                {%- endif -%}

                {%- assign latest_article = site.posts | first -%}

                <h2 class="section__heading research__heading">
                    <a href="{{- latest_article.url | relative_url -}}">
                        {{- latest_article.title -}}        
                    </a>
                </h2>

                <div class="research__text">
                    {{ latest_article.excerpt | truncatewords: 50, ' […]' | markdownify }}
                </div>

                {%- if page.research.ctas.size > 0 -%}
                    <div class="research__ctas">
                        {% for cta in page.research.ctas %}                           
                            <a href="{{- cta.url | default: latest_article.url | relative_url -}}" class="research__cta btn btn--md btn--thin {% cycle 'btn--light', 'btn--secondary' %}">
                                {{- cta.text -}}
                            </a>
                        {% endfor %}
                    </div>
                {%- endif -%}
            </div>

            <div class="research__img-wrapper">
                <img class="research__img" src="{{- page.research.image.path | relative_url -}}" alt="{{- page.research.image.alt_text -}}" loading="lazy"{% if page.research.image.width.size > 0 and page.research.image.height.size > 0 %} width="{{- page.research.image.width -}}" height="{{- page.research.image.height -}}"{% endif %}>
            </div>
        </div>



    </div>
</section>